<div style="text-align: center">
        <span>
            <h2><i class="fa fa-calculator"></i> Custom Stats</h2>
            <dl style="font-size: large; padding: 30px 40px 10px 30px">
                <dt class="totalStyle">Total: <b class="total">{{total}}</b></dt>
                <dt class="totalStyle">Selected: <b class="selected">{{selected}}</b></dt>
            </dl>
        </span>

        <button (click)="showHideSelectionColumn()" class="show-hide-btn">Hide/Show selection column</button>
</div>
